{% load staticfiles %}

<html>
<head>
	<title>ACO</title>
	<style></style>
</head>

<body>
	<h2>Portfolio Name: {{portfolio.name}} </h2>
	{{drugs}}
	<form id="drug_form" method="post" action="solution">
		<input type="hidden" name="drug_list" value=""/>
		{%for drug in drugs %}
			{% for stage in drug.stage_set.all %}
				<input type="text" data-stage="{{stage.name}}" data-drug="{{drug.name}}" name="{{drug.name}}-{{stage.name}}" value="Drug{{drug.name}}: Stage{{stage.name}}"/>
			{% endfor %}
		{% endfor %}

		<input type="hidden" name="portfolio_id" value="{{portfolio.id}}">
		<input type="submit" />
		{% csrf_token %}
	</form>


	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>


	
</body>
</hmtl>